.inputUi, .textAreaUi {
    background-color: white;
    width: 100%;
    margin-top: 4px;
    padding-left: 8px;
    border-radius: 4px;
    color: black;
    outline: none;
}

.inputUi {
    height: 50px;
}

.textAreaUi {
    min-height: 100px; 
    max-height: 300px;
    resize: vertical; 
    padding-top: 8px;
}

.inputUi::placeholder, .textAreaUi::placeholder {
    font-style: italic;
}